<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load staticfiles %}
{% csrf_token %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamFlow Forecast</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed" rel="stylesheet">


    <link href="/static/{{ TethysAppName }}/css/Version4bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/glyphicons.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/ol.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/bootstrap-slider.min.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/threddsDataserverMinified.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/jquery-ui.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/MonthPicker.min.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/CustomStylesMonthPicker.css" rel="stylesheet"/>

    <link href="/static/{{ TethysAppName }}/css/Content/Site.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/Content/cssPlugin/soil.css" rel="stylesheet"/>

    <link href="/static/{{ TethysAppName }}/css/main.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/layerUIWithSlider.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/styles.css" rel="stylesheet"/>
    <link href="/static/{{ TethysAppName }}/css/Content/cssPlugin/lapis.css" rel="stylesheet"/>

</head>

<body>
<div class="banner">
    <h3 class="banner-heading">Streamflow Prediction System (Nepal)</h3>
    <div class="logos pull-right">
        <img src="/static/{{ TethysAppName }}/css/Content/icons/logo-icimod.png"
             style="height: 35px;margin-top: 16px;"/>
    </div>
</div>

<div class="container-fluid main-container"> <!--has-toolbar -->
    <div class="row full-height">
        <!--MIDDLE-->
        <!-- Map Section -->
        <div class="col-md-10 full-height">
            <div id="map-section" class="row full-height">
                <div class="col-md-12 colpad padtop padbottom" style="padding-right:0;">
                    <div class="panel" style="height:100%;padding:10px;">
                        <div id="map"></div>
                        <!-- Image loader -->
                            <div id='loader'>
                              <img class= "loaderImg" src="/static/{{ TethysAppName }}/images/loader.gif">
                            </div>
                        <!-- Image loader -->
                    </div>
                </div>
            </div>
        </div>

        <!--LAST-->
        <div class="col-md-2 full-height">
            <!--Legend section-->
            <div class="row top-row full-height">
                <div class="col-md-12 colpad padtop col-mob-off">
                    <div class="panel" style="height:100%">
                        <div class="panel-heading padding-top-6">
                            <h4 class="panel-title full-width layer-heading">
                                Layers
                            </h4>
                        </div>
                        <div class="layer-div">
                            <div class="layerCollection"></div>
                        </div>
                    </div>

                </div>
                <!--Information section-->
            </div>

            <div class="row bot-row">
                <div class="col-md-12 colpad padtop padbottom ">
                    <div class="panel" style="height:100%;">
                        <div class="panel-heading padding-top-6">
                            <h4 class="panel-title full-width layer-heading">
                                About Streamflow Prediction
                                <a href="#"><img
                                        src="/static/{{ TethysAppName }}/css/Content/icons/app_icon_about.png"
                                        style="float:right;height:20px;width:auto;" data-toggle="modal"
                                        data-target="#aboutModal"></a>
                            </h4>
                        </div>
                        <div class="panel-body" style="height:calc(100% -  40px);overflow:auto;">
                            <div style="text-align:justify;">
                                <b>Description:</b><br>
                                The Streamflow prediction application is the collection of river network created within
                                Nepal which have 1788 unique ID representing river segments which then is connected to
                                the database to have the 10-day forecast. The user can interact by clicking this river
                                network. This application can be a part of a DSS tool for flood forecasting and give an
                                early warning system to the user.
                            </div>
                            <div class="form-group" style="margin-top:5px;">
                                <a href="#" data-toggle="modal" data-target="#aboutModal"><span
                                        style="font-weight:bold;">View More...</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="aboutModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Streamflow Prediction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contributor">
                        <img src="/static/{{ TethysAppName }}/css/Content/images/USAIDlogo.png">
                        <img src="/static/{{ TethysAppName }}/css/Content/images/NASA_LOGO.png" style="height:50px;">
                        <img src="/static/{{ TethysAppName }}/css/Content/images/icimod.png"
                             style="height:54px;margin-top:10px;">
                        <img src="/static/{{ TethysAppName }}/css/Content/images/Servir_HKH green.png"
                             style="height:30px;">
                    </div>
                    <div class="other-detail">
                        <div style="overflow:auto;height:100%;">
                            <h5><b class="info">Description</b></h5>
                            <p class="info">
                                The Streamflow prediction application is the collection of river network created within
                                Nepal which have 1788 unique ID representing river segments which then is connected to
                                the database to have the 10-day forecast. The user can interact by clicking this river
                                network. This application can be a part of a DSS tool for flood forecasting and give an
                                early warning system to the user.
                            </p>
                            <p class="info">
                                The river network map is daily updated with the color code representing the river flow
                                with respect to return period.  The risk level is represented with colors like blue,
                                yellow, orange and red.
                            </p>
                            <h5><b class="info">Data /methodology/platform</b></h5>
                            <p class="info">
                                The Streamflow Prediction Tool provides 10-day streamflow predicted estimates by using
                                the European Center for Medium Range Weather Forecasts (ECMWF) runoff predictions routed
                                with the RAPID program. The connection between the predicted and hind casted runoff are
                                generated with GIS tools both from ESRI as well as from open source contributions.  The
                                Streamflow Prediction Tool was developed at Brigham Young University with support from
                                the National Science Foundation (NSF).
                            </p>
                            <p class="info">
                                On the other hand Tethys platform is the open-source web-GIS suit developed by Brigham
                                Young University (BYU).  Tethys comes with few widely used GIS technologies like
                                GeoServer and PostGIS and is developed in the python Django environment.
                            </p>
                            <h5><b class="info">Analytical tools</b></h5>
                            <p class="info">
                                The Streamflow prediction application provides the forecast data where, the user can
                                interact with the application on following ways:
                            </p>
                            <ul>
                                <li class="info">Upon clicking any river line, a user can view the forecast data with
                                    following parameters
                                </li>
                                <ul>
                                    <li class="info">High-Resolution forecast (10 days)</li>
                                    <li class="info">Standard Deviation, Mean, Maximum and Minimum forecast (generated
                                        with 52 ensemble forecasts)
                                    </li>
                                    <li class="info">Information on two, five, ten, twenty, fifty and hundred years return period.</li>
                                </ul>
                                <li class="info">View the historical dataset from 1980.</li>
                                <li class="info">A chart of flow-duration</li>
                                <ul>
                                    <li class="info">Forecast data</li>
                                    <li class="info">Interim Data</li>
                                </ul>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart Modal -->

    <div class="modal fade" id="graph" tabindex="-1" role="dialog" aria-labelledby="about-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="width:75%;">
            <div class="modal-content">

                <div class="modal-header">
                    {# <h5 class="modal-title" id="about-modal-label">Modal title</h5>#}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <nav>
                        <div class="nav nav-tabs" id="graphTab" role="tablist">

                            <a class="nav-item nav-link active" id="forecast_tab_link" data-toggle="tab"
                               href="#forecast_tab"
                               role="tab" aria-controls="forecast_tab" aria-selected="true">Forecast</a>

                            <a class="nav-item nav-link" id="historical_tab_link" data-toggle="tab" href="#historical"
                               role="tab" aria-controls="historical" aria-selected="false">Historical</a>

                            <a class="nav-item nav-link" id="flow_duration_tab_link" data-toggle="tab"
                               href="#flow_duration"
                               role="tab" aria-controls="flow_duration" aria-selected="false">Flow-Duration</a>

                            <a class="nav-item nav-link" id="download_tab_link" data-toggle="tab" href="#download"
                               role="tab" aria-controls="download" aria-selected="false">Downloads</a>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="forecast_tab" role="tabpanel"
                             aria-labelledby="forecast_tab_link">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="flex-container-row"><img id="view-file-loading" class="view-file hidden"
                                                                         src="/static/{{ TethysAppName }}/images/loader.gif"/>
                                    </div>
                                    <div id="long-term-chart">

                                    </div>
                                    <table id="mytable">
                                        <tbody id="tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="historical" role="tabpanel"
                             aria-labelledby="historical_tab_link">
                            <div class="panel panel-default">
                                <div class="flex-container-row"><img id="his-view-file-loading" class="view-file hidden"
                                                                     src="/static/{{ TethysAppName }}/images/loader.gif"/>
                                </div>
                                <div class="panel-body">
                                    <div id="historical-chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="flow_duration" role="tabpanel"
                             aria-labelledby="flow_duration_tab_link">
                            <div class="panel panel-default">
                                <div class="flex-container-row"><img id="fdc-view-file-loading" class="view-file hidden"
                                                                     src="/static/{{ TethysAppName }}/images/loader.gif"/>
                                </div>
                                <div class="panel-body">
                                    <div id="fdc-chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="download" role="tabpanel" aria-labelledby="download_tab_link">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h6>Download Forecast Data (Time Zone: UTC)</h6>
                                    <div id="download_forecast" class="btn-group long-term-select" role="group">
                                        <a class="btn btn-success" role="button" id="submit-download-forecast">
                                            <span class="glyphicon glyphicon-play"></span> Download Forecast
                                        </a>
                                    </div>
                                    <h6>Download ERA Interim Data (Time Zone: UTC)</h6>
                                    <div id="download_interim" class="btn-group" role="group">
                                        <a class="btn btn-info" role="button" id="submit-download-interim-csv">
                                            <span class="glyphicon glyphicon-play"></span> Download Interim Data
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info" class="hidden"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/static/{{ TethysAppName }}/js/ForBootstrapjquery-3.5.1.slim.min.js"></script>
<script src="/static/{{ TethysAppName }}/js/jquery-3.3.1.min.js"></script>
<script src="/static/{{ TethysAppName }}/js/ForBootstrapPopper.min.js"></script>
<script src="/static/{{ TethysAppName }}/js/Version4bootstrap.min.js"></script>
<script src="/static/{{ TethysAppName }}/js/bootstrap-slider.min.js"></script>
<script src="/static/{{ TethysAppName }}/js/ol.js"></script>
<script src="/static/{{ TethysAppName }}/js/iso8601.js"></script>
<script src="/static/{{ TethysAppName }}/js/timeDimensionThreddsDataServer.js"></script>
<script src="/static/{{ TethysAppName }}/js/plotly-latest.min.js"></script>

<script>
    let TethysAppName = "{{ TethysAppName }}";
</script>
<script src="/static/{{ TethysAppName }}/js/data.js"></script>
<script src="/static/{{ TethysAppName }}/js/main.js"></script>

</body>
</html>

