
#map{height: 100%;}
.legend{background: white; line-height: 1.5em}
.legend i {width: 1em; float: left}

.hidden {
  display: none;
}

p.info, li.info{

    font-weight: normal;
    line-height: 1.6;
}

b.info{

    font-weight: bold;
}

#mytable {

    border-collapse: collapse;
    width: 100%;
}

#mytable td, #mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #585757;
    color: white;
}

.whitezero {
    background-color: #FFFFFF;
}

.whitetwenty {
    background-color: #f4f4f5;
}

.whitefourty {
    background-color: #eff0f1;
}

.whitesixty {
    background-color: #ebeced;
}

.whiteeighty {
    background-color: #e7e8ea;
}

.whitehundred {
    background-color: #e2e4e6;
}

.bluezero {
    background-color: #FFFFFF;
}

.bluetwenty {
    background-color: #cfecf7;
}

.bluefourty {
    background-color: #a0d9ef;
}

.bluesixty {
    background-color: #62c1e5;
}

.blueeighty {
    background-color: #20a7db;
}

.bluehundred {
    background-color: #1c96c5;
}

.orangezero {
    background-color: #FFFFFF;
}

.orangetwenty {
    background-color: #f9d186;
}

.orangefourty {
    background-color: #f0be72;
}

.orangesixty {
    background-color: #eeb549;
}

.orangeeighty {
    background-color: #f2a81d;
}

.orangehundred {
    background-color: #e19506;
}

.yellowzero {
    background-color: #FFFFFF;
}

.yellowtwenty {
    background-color: #FEFFCC;
}

.yellowfourty {
    background-color: #FAFD96;
}

.yellowsixty {
    background-color: #FAFE66;
}

.yelloweighty {
    background-color: #FAFF34;
}

.yellowhundred {
    background-color: #F9FF00;
}

.redzero {
    background-color: #FFFFFF;
}

.redtwenty {
    background-color: #FED4D4;
}

.redfourty {
    background-color: #FFB0B0;
}

.redsixty {
    background-color: #FF6D6D;
}

.redeighty {
    background-color: #FF3535;
}

.redhundred {
    background-color: #FF0000;
}

.purplezero {
    background-color: #FFFFFF;
}

.purpletwenty {
    background-color: #F1D2FF;
}

.purplefourty {
    background-color: #E09FFE;
}

.purplesixty {
    background-color: #D371FF;
}

.purpleeighty {
    background-color: #C037FD;
}

.purplehundred {
    background-color: #B000FF;
}

.loaderImg {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30%;
  left: 50%;
  border: 1px green solid;
  /*display: none;*/
}