
body {
    color: #333;
    background-color: rgb(0,149,218);
}

.banner {
    background-color: rgb(0,102,179);
    color: #333;
}
.panel-heading, .modal-header, .toolbar {
    color: white;
    background-color: rgb(6,20,86);
}

.btn-custom, .btn-float {
    background-color: rgb(0,102,179);
    color: white !important;
}

.toolbtn-custom:active, .toolbtn-custom.active, .toolbtn-custom:hover {
    background-color: rgb(0,149,218);
    border-color: transparent;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: rgb(0,102,179);
    border: 1px solid rgb(0,102,179);
}

.listview-2.active, .listview-2.active:hover {
    background-color: rgb(0,102,179);
    color: white;
}

.listview-2:hover {
    background-color: rgb(0,149,218);
    color: white;
}